body {  
    text-align: left;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    font-family: cursive;
}

.noob {
    offset: 10px;
    align-items: left;
    font-size: 69px;
    color: cyan;

}
.coolimage {
    image-resolution: 256px;
}
